.navegar ul{
    
    list-style: none;
}
.menu ul li{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.menu li  :hover{
    color: royalblue;
    transition: all .2s;
}
/*submenu*/
.sublectura{
    position: absolute;
    background: #F47920;
    display: none;
    width: 390px;
}
.sublectura >li >a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px;
    text-decoration: none;
}

.menu :hover .sublectura{
    display: block;
}
.subvideos{
    position: absolute;
    background: #F47920;
    display: none;
    width: 320px;

}
.subvideos > li > a{
    color: white;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.menu  :hover .subvideos{
    display: block;
}
body{
    background-color: white;
    color: black;
}
h1{
    font-size: 40px;
    color: white;
    margin: 0px 20px;
}
h9{
    font-size: 50px;
    color: white;
    margin: 0px 20px;
    text-align: center;
}

nav,header,.contenedor,footer{
    max-width: 90%;
    margin: auto;
}
nav{
    background-color: #F47920;
}
header{
    background: linear-gradient(white 0%,#005883 100%);

}
.contenedor{
    background-color: #F47920;
   
    
}
footer{
    background-color:   #50B748;  
  
}
.central{
    background-color:#F0B429  ;
    
}
.central article h3 {
    margin: 0px 20px;
    
}
.imagen_principal{
    height: 300px;
  
    /*margin-left: auto;
    margin-right: auto;*/
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 50px;
    
}
.centra{
    background-color:rgb(247, 231, 16)  ;
    height: 1150px;
    width: 1050px;
    margin: 0px 50px;
    text-align: center;
}
.centrado{
    background-color:rgb(8, 209, 182)  ;
    height: 1100px;
    width: 1050px;
    margin: 0px 50px;
    text-align: center;
}
.contened{
    background-color: rgb(105, 156, 243);
    text-align: center;
    
}
.contenidon{
    background-color:  rgb(105, 156, 243);    
    height: 20px;
    
}
.contenido1{
    background-color:  rgb(105, 156, 243);    
    height: 50px;
    text-align: center;
}
.imagen_principa{
    height: 200px;
  
    /*margin-left: auto;
    margin-right: auto;*/
    max-width: 70%;
    background-repeat: no-repeat;
    background-size: 20px;
    
}

.video_1{
height: 500px;
width: 1020px;
margin: 30px 90px;
}
.reco{
    background-color:#F47920 ;
    margin: 0px 65px;
}
ul li a{
    text-decoration: none;
}
/* sobre los hautores*/
#categorias{
    width: 600px;
   height: auto;overflow: hidden;
    border: 0px solid;
    margin-top: 10px;


}
.cero{
    margin-left: 65px;
    margin-right: 5px;
    background:springgreen;
}
.uno{
    width: 382px;
    height: auto;
    border: 1px solid #ccc;
    float: left;
    padding: 5px;
    
}
.dos{
    margin-left: 5px;
    margin-right: 5px;
    background: pink;
    
}
.tres{
    margin-left: 5px;
    margin-right: 20px;
    background: mediumslateblue;
}
.cuatro{
    margin-left: 260px;
    margin-right: 5px;
background: palegreen;
}
.cinco{
    margin-left: 5px;
    margin-right: 5px;
    background: lightsteelblue;
}
footer{
clear: both;

}
h4{
    margin: 15px;
}
p{
    margin: 15px;
}
 h2{
     margin: 3px;
     margin-left: 65px;
     background: #F0B429;
     width: 1200px;
     color: white;
     background-size: 50px;
 }
 