.navegar ul{
    
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a {
    display: block;
    padding: 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.menu li  :hover{
    color: royalblue;
    transition: all .2s;
}
/*submenu*/
.sublectura{
    position: absolute;
    background: #F47920;
    display: none;
    width: 390px;
}
.sublectura >li >a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
}
.menu :hover .sublectura{
    display: block;
}
.subvideos{
    position: absolute;
    background: #F47920;
    display: none;
    width: 280px;
}
.subvideos > li > a{
    color: white;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu  :hover .subvideos{
    display: block;
}
body{
    background-color: white;
    color: black;
}
h1{
    font-size: 40px;
    color: white;
    margin: 0px 20px;
}
h9{
    font-size: 50px;
    color: white;
    margin: 0px 20px;
    text-align: center;
}

nav,header,.contenedor,footer{
    max-width: 90%;
    margin: auto;
}
nav{
    background-color: #F47920;
}
header{
    background-color:   #005883;

}
.contenedor{
    background-color: #F47920;
   
    
}
footer{
    background-color:   #50B748;  
  
}
.central{
    background-color:#F0B429  ;
    
}
.central article h3 {
    margin: 0px 20px;
    
}
.imagen_principal{
    height: 300px;
  
    /*margin-left: auto;
    margin-right: auto;*/
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 50px;
    
}
.centra{
    background-color:rgb(247, 231, 16)  ;
    height: 1150px;
    width: 1000px;
    margin: 0px 50px;
    text-align: center;
}
.centrado{
    background-color:rgb(8, 209, 182)  ;
    height: 1050px;
    width: 1000px;
    margin: 0px 50px;
    text-align: center;
}
.contened{
    background-color: rgb(105, 156, 243);
    text-align: center;
    
}
.contenidon{
    background-color:  rgb(105, 156, 243);    
    height: 20px;
    
}
.imagen_principa{
    height: 200px;
  
    /*margin-left: auto;
    margin-right: auto;*/
    max-width: 70%;
    background-repeat: no-repeat;
    background-size: 20px;
    
}

.video_1{
height: 500px;
width: 1020px;
margin: 30px 90px;
}
.reco{
    background-color:#F47920 ;
    margin: 0px 65px;
}